<h2><%= l(:newissuealerts_new) +  @project.name %></h2>

<%#<% form_for :newissuealert,  url: {action: :new} do |f| %>
<%= form_tag( newissuealert_path(@project.id), method: "post")  do %>
<div class="box tabular settings">
  <p>
 <%= label_tag :mail_addresses, l(:email_addresses) %>  <%= text_field_tag :mail_addresses %>
  </p>
  <p>
    <%= label_tag :enabled,  l(:enabled) %> <%= check_box_tag :enabled %>
  </p>
  <p>
    <%= label_tag :priority, l(:newissuealerts_set_priority) %> <%= check_box_tag :priority %>
  </p>

  <p>
    <%= submit_tag l(:create) %>
  </p>
</div>
<% end %> 
